/* CSS Général du site Rockbet */

/* Appel des différentes polices */

@font-face {
	font-family: "rockit";
	src: url('Police/Rockit.ttf');
}

@font-face
{
	font-family: 'bad_grunge';
	src: url('Police/bad_grunge.ttf');
}

/* Mise en page du body */
body
{
	background-color: rgba(221, 223, 193, 0.8);
}

/* Barre de navigation*/
li {
	float: left;
    position:relative;
}

.divider {
    position: absolute;
    right:-1px;
    top:25%;
    color: black;
}

.navbar .collapse
{
	justify-content: right;
}

.navbar a
{
	color:white;
	font-family: 'rockit';
}

.navbar
{
	background-color: rgba(52.9, 52.9, 52.9, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1{
	font-family: 'rockit';
	color: rgba(255, 0, 0, 0.8);
	transform: translateY(15%);
}

/* Espacement navbar / phrase d'accroche */